# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node modules
/node_modules

# Build output
/.next/
/out/
/build/
/dist/

# Local env files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
/coverage

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# IDE/editor
.vscode/
.idea/

# OS
Thumbs.db

# Test, scripts, and temp
/tests/
/scripts/
*.local

# HeroUI/Next.js specific
.pnp
.pnp.js

# Vercel
.vercel

# pnpm
.pnpm.cjs

# Ignore changeset, dist, esm, and config
**/.changeset
**/dist
**/esm
**/*.config.js

# Ignore public assets except for versioned files
public/*
!public/favicon.ico
!public/next.svg
!public/vercel.svg
